@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.theme_90s {
  font-family: "Goldman", cursive;
  background: #90dcff;

  button {
    text-decoration: none;
    font-size: 22px;
    background-color: #9effb8;
    padding: 0.5em;
    color: #111111;
  }
}
